.roundDivs {
  width: "50px";
  height: "50px";
  background-color: "#FBB03B";
  border-radius: "50%";
  align-items: "center";
  justify-content: "center";
  display: "flex";
}

.clickable:hover {
  cursor: pointer;
}

a{
  text-decoration-line: none !important;
  color:black !important;  
  /* background-color: red; */
}